{% extends 'base.html.twig' %}

{% block body %}
<div class="uk-container">
    <h1>My Categories</h1>
    {{ form_start(form) }}
    <div class="uk-width-1-1">

        <h2>Main Category</h2>
        {% if form_errors(form.category) %}
            <div class="formError">{{ form_errors(form.category) }}</div>
        {% endif %}
        <div class="uk-margin">
            <div class="uk-inline uk-width-1-1">
                {{ form_widget(form.category) }}
            </div>
        </div>

        <h2>Name</h2>
        {% if form_errors(form.name) %}
            <div class="formError">{{ form_errors(form.name) }}</div>
        {% endif %}
        <div class="uk-margin">
            <div class="uk-inline uk-width-1-1">
                {{ form_widget(form.name) }}
            </div>
        </div>

        <h2>Image</h2>
        {% if form_errors(form.image) %}
            <div class="formError">{{ form_errors(form.image) }}</div>
        {% endif %}
        <div class="uk-margin">
            <div class="uk-inline uk-width-1-1">
                {{ form_widget(form.image) }}
            </div>
        </div>
        <button type="submit" class="uk-button uk-width-1-1 uk-margin-large-top uk-button-success">Create</button>

        <table class="uk-table uk-table-striped">
            <thead>
                <tr>
                    <th>Main Category</th>
                    <th>Category</th>
                    <th>Created At</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
        {% for category in subCategories %}
            <tr>
                <td>{{category.category}}</td>
                <td>{{category.name}}</td>
                <td>{{category.createdAt|date("Y-m-d")}}</td>
                <td><a href="#"><span uk-icon="file-edit"></span></a></td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>

    {{ form_end(form) }}
</div>
{% endblock %}
