{% extends 'base.html.twig' %}

{% block body %}
<div class="uk-section-default uk-margin-large-top">
    <h3>Notre selection pour vous</h3>
    <div class="uk-slider-container-offset" uk-slider>

        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
    
            <div class="uk-slider-items uk-child-width-1-4@s uk-grid">
                {% for quizz in quizzes1 %}
                <a href="{{path('app_quizzes_infos', {id:quizz.id})}}">
                    <div class="uk-card uk-card-default uk-card-body uk-padding-remove">
                        <div class="uk-card-media-top">
                            {% if quizz.subCategory.image %}
                                <img src="{{ asset('/upload/'~ quizz.subCategory.image)}}" width="2000" height="1200" alt="">
                            {% else %}
                                <div class="uk-background-cover uk-background-muted uk-width-large uk-flex uk-flex-center uk-flex-middle" style="height: 275px;">
                                    <p class="uk-h4 uk-margin-remove">{{quizz.subCategory.name}}</p>
                                </div>
                            {% endif %}
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title uk-text-truncate">{{quizz.title}}</h3>
                            <div class="uk-card-footer">
                                <div class="uk-position-small uk-position-bottom-left">{{quizz.difficulty}}</div>
                                <div class="uk-position-small uk-position-bottom-right">{{quizz.createdAt|date("Y-m-d")}}</div>
                                <div class="uk-position-small uk-position-bottom-left"></div>
                                <div class="uk-position-small uk-position-bottom-right"></div>
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
    
            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href uk-slidenav-next uk-slider-item="next"></a>
    
        </div>
    
        <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
    
    </div>
</div>
<div class="uk-section uk-section-muted">
    <div class="uk-container">
        <h3>What skills would you like to improve today?</h3>
        <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
            </div>
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
            </div>
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
            </div>
        </div>

    </div>
</div>
<div class="uk-section-default uk-margin-large-top">
    <h3>Notre tendances du moment</h3>
    <div class="uk-slider-container-offset" uk-slider>

        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
    
            <div class="uk-slider-items uk-child-width-1-4@s uk-grid">
                {% for quizz in quizzes2 %}
                <a href="{{path('app_quizzes_infos', {id:quizz.id})}}">
                    <div class="uk-card uk-card-default uk-card-body uk-padding-remove">
                        <div class="uk-card-media-top">
                            {% if quizz.subCategory.image %}
                                <img src="{{ asset('/upload/'~ quizz.subCategory.image)}}" width="2000" height="1200" alt="">
                            {% else %}
                                <div class="uk-background-cover uk-background-muted uk-width-large uk-flex uk-flex-center uk-flex-middle" style="height: 275px;">
                                    <p class="uk-h4 uk-margin-remove">{{quizz.subCategory.name}}</p>
                                </div>
                            {% endif %}
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title uk-text-truncate">{{quizz.title}}</h3>
                            <div class="uk-card-footer">
                                <div class="uk-position-small uk-position-bottom-left">{{quizz.difficulty}}</div>
                                <div class="uk-position-small uk-position-bottom-right">{{quizz.createdAt|date("Y-m-d")}}</div>
                                <div class="uk-position-small uk-position-bottom-left"></div>
                                <div class="uk-position-small uk-position-bottom-right"></div>
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
    
            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href uk-slidenav-next uk-slider-item="next"></a>
    
        </div>
    
        <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
    
    </div>
</div>
<div class="uk-section-default uk-margin-large-top">
    <h3>Les nouveautés</h3>
    <div class="uk-slider-container-offset" uk-slider>

        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
    
            <div class="uk-slider-items uk-child-width-1-4@s uk-grid">
                {% for quizz in quizzes3 %}
                <a href="{{path('app_quizzes_infos', {id:quizz.id})}}">
                    <div class="uk-card uk-card-default uk-card-body uk-padding-remove">
                        <div class="uk-card-media-top">
                            {% if quizz.subCategory.image %}
                                <img src="{{ asset('/upload/'~ quizz.subCategory.image)}}" width="2000" height="1200" alt="">
                            {% else %}
                                <div class="uk-background-cover uk-background-muted uk-width-large uk-flex uk-flex-center uk-flex-middle" style="height: 275px;">
                                    <p class="uk-h4 uk-margin-remove">{{quizz.subCategory.name}}</p>
                                </div>
                            {% endif %}
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title uk-text-truncate">{{quizz.title}}</h3>
                            <div class="uk-card-footer">
                                <div class="uk-position-small uk-position-bottom-left">{{quizz.difficulty}}</div>
                                <div class="uk-position-small uk-position-bottom-right">{{quizz.createdAt|date("Y-m-d")}}</div>
                                <div class="uk-position-small uk-position-bottom-left"></div>
                                <div class="uk-position-small uk-position-bottom-right"></div>
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
    
            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href uk-slidenav-next uk-slider-item="next"></a>
    
        </div>
        <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
    </div>
</div>
{% endblock %}