{% extends 'base.html.twig' %}

{% block body %}
<div class="uk-section uk-section-muted">
    <div class="uk-container">
        <h3>Leaderboard of : {{quizz.title}}</h3>
        <table class="uk-table uk-table-striped">
            <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Result</th>
                    <th>Certified At</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Kuete Kamta</td>
                    <td>Frank Jordan</td>
                    <td>95%</td>
                    <td>21-06-24</td>
                </tr>
                <tr>
                    <td> Victor</td>
                    <td>Vanneste</td>
                    <td>93%</td>
                    <td>08-12-24</td>
                </tr>
                <tr>
                    <td>Ozturk</td>
                    <td>Turgay </td>
                    <td>93%</td>
                    <td>10-10-22</td>
                </tr>
                <tr>
                    <td>Tanguy</td>
                    <td>Baldewyns</td>
                    <td>90%</td>
                    <td>17-11-24</td>
                </tr>
                <tr>
                    <td>Diego</td>
                    <td>Sanchez</td>
                    <td>89%</td>
                    <td>10-10-23</td>
                </tr>
        {% for certification in certifications %}
            <tr>
                <td>{{certification.user.firstname}}</td>
                <td>{{certification.user.lastname}}</td>
                <td>{{certification.result}}%</td>
                <td>{{certification.createdAt|date("Y-m-d")}}</td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
